type project
include-pdbs true
authors Anatoliy Koperin
licenseUrl https://github.com/ExM/NMoney/raw/master/LICENSE
projectUrl https://github.com/ExM/NMoney
iconUrl https://raw.github.com/ExM/NMoney/master/doc/Finance-Currency-icon.png
description
  Library for working with sums of money.
  List of world currencies in accordance with ISO 4217
tags money currencies ISO4217
